---
layout: default
title: Courses
published: true
---

<div class="posts">
	
<h1>Direct links to course syllabi</h1>

<ul>
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "syllabi" %}
            <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
 </ul>
 
 <h1>Supplementary Matierals</h1>

<ul>
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "files" %}
            <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
 </ul>
 

</div>