<div class="sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
    </nav>

<div class="container sidebar-sticky">
  <small>
    <p><a href="http://prose.io/#kerim/syllabi/edit/gh-pages/">Prose</a> | <a href="https://github.com/kerim/syllabi">Github</a> | <a href="https://github.com/poole/hyde">Source</a></p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </small>
  </div>
</div>
